* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
  }
  
html {
	scroll-behavior: smooth;
}

.footer-container {
	background: #e6e6e6;
	padding-top: 2%;
	padding-bottom: 2%; 
	
}

/*  */
.front_page-main-top {
	max-width: 1100px;
	margin: 0 auto;
}


/* .image-content {
	width: 60%;
	padding-top: 0.5rem;
	padding-right: 3rem;
}

.image-content img {
	height: 80%;

} */

/* .top-content-text {
	float: left;
} */

h1 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

/* Front-page and page */
.main-middle {
	max-width: 1250px;
	margin: 0 auto;
}

/* Front-page */
.main-bottom {
	max-width: 1200px;
	margin: 0 auto;
}

.contact-banner {
	background-image: url('../img/placeholder.png');
	width: 50%;
	text-align: center;
	margin: 0 auto;
	background-position: center;
	background-size: cover;
	height: 50%;
	background-repeat: no-repeat;
}

.contact-banner p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
}

.hero-section {
  background: url("../img/placeholder.png") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

.media-object-section {
	padding-right: 10%;
	width: 70%;
}

.thumbnail {
	width: 100%;
}

.image {
	width: auto;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.grid {
	width: 99%;
}

.bottom-posts {
	text-align: center;
    margin: 0 auto;
    padding: 0 5%;
}

/*Single Blog Post*/

.blog-image {
	width: 80%;
	position: center;
	text-align: center;

}

.blog-text {
	position: center;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.description-label {
	padding-left: 20%;
	text-size-adjust: small;
	padding-bottom: 3rem;
}

.blog-form-label {
	padding-left: 20%;
	padding-right: 40%;
	padding-bottom: 3rem;
}


/*About Page*/
h2 {
	text-align: center;
	padding-bottom: 1.5rem;
}
.about-text {
	float: right;
}
.about-image {
	float:left;
}


/*bottom posts*/
.bottom-container {
	width: 80%;
	margin: 0 auto;
	padding-top: 1rem;
	padding-bottom: 1.5rem;
}
.excerpt-post-title {
	text-align: center;
	padding-bottom: 1rem;
	text-size-adjust: small;
}

.top-bar, .top-bar ul {
    background-color: black;
}

.category_top {
	max-width: 100%;
}

.page-numbers {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 2px 0 0;
	border: 1px solid #eee;
	line-height: 1;
	text-decoration: none;
	border-radius: 2px;
	color: #000;
	font-size: 14px;
}

.pagenav-container {
	margin-left: 0;
    margin-bottom: 1rem;
}

.page-numbers:hover {
	background-color: #e6e6e6;
	color: #000;
	font-weight: 600;
}


/* STYLES */
  /* .footer-container {
	background: #e6e6e6;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8vh;
	padding-top: 0;
	padding-bottom: 0;
  }
  
  .login_formContainer {
	width: 1100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	border: 1px solid grey;
	border-right: none;
	border-radius: 1rem;
  }
  
  .item {
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	padding: 12rem 0;
  }
  
  .form_message {
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
  }
  
  .form_formMain {
	background-color: #035A91;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border-right: 1px solid grey;
  }
  
  .form {
	padding: 2rem;
  }
  
  .form input {
	border-radius: .5rem;
  }
  
  .form label {
	padding-left: .5rem;
	color: white;
  }
  
  .form input[type=submit] {
	padding: .5rem 2rem;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
	border: 1px solid grey;
	color: #035A91;
	border-radius: .5rem;
  }
  
  .blogList {
	overflow: auto;
  }
  
  .searchContainer {
	text-align: center;
	margin: 0 auto;
	max-width: 1200px;
	margin-bottom: 2rem;
  }
  
  .searchContainer input {
	border-radius: 1rem;
	padding-left: 1rem;
  }
  
  .searchContainer .categoryOpts {
	border-radius: 1rem;
	padding-left: 1rem;
  }
  
  .searchForm {
	margin: 0 auto;
  }
  
  .bottomInput {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
  }
  
  .galleryItem {
	border: 2px solid blue;
	padding: 0.5rem;
  }
  
  @media only screen and (max-width: 1300px) {
	.login_formContainer {
	  width: 80%;
	}
	.item {
	  padding: 10rem 0;
	}
  }
  
  @media only screen and (max-width: 800px) {
	.login_formContainer {
	  width: 100%;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  position: static;
	  border: none;
	  -webkit-transform: none;
			  transform: none;
	}
	.form {
	  padding: 0 2rem;
	}
	.form_formMain {
	  border: none;
	  border-radius: 0;
	  position: relative;
	}
	.form_messageContainer {
	  height: 30vh;
	}
	.grid-x > .small-6 {
	  width: 100%;
	}
  } */