.clearfix:after {
  
    display: block;
    content: "";
    clear: both;
  
}

.footer-container {
	background: #e6e6e6;
	padding-top: 2%;
	padding-bottom: 2%; 

}

.test {
	max-width: 1000px;
	list-style: none;
	margin: 0 auto;
	text-align: center;
}

.test2 a {
	width: 20%;
    text-align: center;
    float: left;
}

.test3 a {
	text-align: center;
	margin: 0;
}

.halfwidth {
    width:50%;
    float: left;
    padding-left: .5rem
}

.post-image {
    width: 100%;
    float: left;
    padding-left: .5rem;
    margin-left: .01rem;
}

.whole-form {
	padding-left: 35%;
	padding-top: 1.5rem;
}

.top-bar {
    background-color: #006699;
}

.top-bar, .top-bar ul {
    background-color: #006699;
}

a {
    line-height: inherit;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.menu-text a:hover {
    color: cyan;
}