@font-face {
	font-family: Russo Sans Bold;
	src: url(../fonts/Russo-Sans-Bold.otf);
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: Russo Sans Bold;
}

.footer-container {
	background: #e6e6e6;
	padding-top: 2%;
	padding-bottom: 2%; 
	
}

.test {
	max-width: 1000px;
	list-style: none;
	margin: 0 auto;
	text-align: center;
	font-family: Russo Sans Bold;
}

.test2 a {
	width: 20%;
    text-align: center;
    float: left;
    font-family: Russo Sans Bold;
}

.test3 a {
	text-align: center;
	margin: 0;
	font-family: Russo Sans Bold;
}

.main-top {
	max-width: 1100px;
	margin: 0 auto;
}


.image-content {
	width: 60%;
	padding-top: 0.5rem;
	padding-right: 3rem;
}

.image-content img {
	height: 80%;

}

.top-content-text {
	float: left;
}

.header-h1 {
	font-size: 4em;
	font-family: Russo Sans Bold;
}

.header-h2 {
	font-size: 3rem;
	font-family: Russo Sans Bold;
}

h3 {
	font-size: 1.5em;
}

.main-top {
	padding-top: 7%;
	padding-bottom: 7%;
}

.main-middle {
	max-width: 1250px;
	margin: 0 auto;
}

.main-bottom {
	max-width: 1200px;
	margin: 0 auto;
}

.contact-banner {
	background-image: url('../img/placeholder.png');
	width: 50%;
	text-align: center;
	margin: 0 auto;
	background-position: center;
	background-size: cover;
	height: 50%;
	background-repeat: no-repeat;
}

.contact-banner p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
}

.hero-section {
  background: url("../img/placeholder.png") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

.media-object-section {
	padding-right: 10%;
	width: 70%;
}

.thumbnail {
	width: 100%;
}

.image {
	width: auto;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.grid {
	width: 99%;
}

.bottom-posts {
	text-align: center;
    margin: 0 auto;
    padding: 0 5%;
}

/*Single Blog Post*/

.blog-image {
	width: 80%;
	position: center;
	text-align: center;

}

.blog-text {
	position: center;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.blog-text a {
	font-family: Russo Sans Bold;
}

.description-label {
	padding-left: 20%;
	text-size-adjust: small;
	padding-bottom: 3rem;
}

.blog-form-label {
	padding-left: 20%;
	padding-right: 40%;
	padding-bottom: 3rem;
}


.body-h1 {
	font-size: 2em;
	font-family: Russo Sans Bold;
}

/*About Page*/
h2 {
	text-align: center;
	padding-bottom: 1.5rem;
}
.about-text {
	float: right;
}
.about-image {
	float:left;
}


/*bottom posts*/
.bottom-container {
	width: 80%;
	margin: 0 auto;
	padding-top: 1rem;
	padding-bottom: 1.5rem;
}
.excerpt-post-title {
	text-align: center;
	padding-bottom: 1rem;
	text-size-adjust: small;
}

.top-bar, .top-bar ul {
    background-color: #0477BF;
    font-family: Russo Sans Bold;
}

.category_top {
	max-width: 100%;
}

.category-container {
	margin: 0 auto;
	font-family: Russo Sans Bold;
}

.page-numbers {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 2px 0 0;
	border: 1px solid #eee;
	line-height: 1;
	text-decoration: none;
	border-radius: 2px;
	color: #000;
	font-size: 14px;
}

.pagenav-container {
	margin-left: 0;
    margin-bottom: 1rem;
}

.page-numbers:hover {
	background-color: #e6e6e6;
	color: #000;
	font-weight: 600;
}

.menu a {
	color: #f2f2f2;
}

.menu a:hover {
	opacity: 0.5;
}

.logo {
	height: 40px;
}

.para {
	font-family: Russo Sans Bold;
}

.contact-form {
	font-family: Russo Sans Bold;
}

.submit-button {
	display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    font-family: Russo Sans Bold;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    border: 1px
 	solid transparent;
    border-radius: 0;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    -webkit-appearance: none;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #14679e;
    color: #fefefe;
}

.submit-button:hover {
	background-color: lightgrey;
    color: black;
}

a {
	font-family: Russo Sans Bold;
}

.category-header {
	margin: 0 auto;
	font-family: Russo Sans Bold;
}

label {
	font-family: Russo Sans Bold;
}

.background-blur-container {
	position: relative;
}

/*.background-blur-container {
	filter: blur(1px);
}*/

/*.contact-building-image {
	filter: blur(1px);
}*/
.background-blur {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.15;
}
