.footer-container {
	background: #e6e6e6;
	padding-top: 2%;
	padding-bottom: 2%; 

}

#footer-links {
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0 auto;
	text-align: $center-position;
	padding-left: 40%;
}